@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Work+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border: 1px solid red;
} */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.carousel .slide img {
  @apply h-full w-full object-cover;
}

.carousel .slide {
  @apply bg-transparent;
}

.carousel.carousel-slider .control-arrow {
  @apply flex h-8 w-8 items-center justify-center rounded-full bg-black text-white transition-colors duration-200;
  top: 50%; /* Center the buttons vertically */
}

.carousel.carousel-slider .control-arrow:hover {
  @apply bg-blue-500;
}

.carousel .control-dots {
  @apply justify-center;
}

.carousel .control-dots .dot {
  @apply bg-gray-400;
}

.carousel .control-dots .dot.selected {
  @apply bg-blue-500;
}

.carousel .thumbs-wrapper {
  @apply justify-center; /* Center the thumbnails */
}

.carousel .thumb {
  @apply border-2 border-gray-300;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  @apply border-blue-500;
}

.carousel-root {
  @apply mx-auto max-w-lg;
}

.slideIn {
  animation: slideIn 0.9s ease-in both;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.slideInDelay {
  animation: slideInDelay 0.5s 0.4s linear both;
}
@keyframes slideInDelay {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeOutBtn {
  animation: fadeBtn 0.5s ease both;
  animation-delay: 1s;
}
@keyframes fadeBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
